<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>CaseInitiation.US_ST_BV</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>screeeninglogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Parallelaction6</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Parallelaction5</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>manageraction</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Parallelaction</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>login</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Parallelaction2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Parallelaction4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Parallelaction3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Beneficiarylogout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>managerlogout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>managerlogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>screeningaction</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Initiatecase</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
