<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="688d64">  <td>18/01/11 18:42:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="US_ST_BV.Beneficiarylogout()[pri:0, instance:CaseInitiation.US_ST_BV@b97c004]">Beneficiarylogout</td> 
  <td>main@703504298</td>   <td></td> </tr>
<tr bgcolor="688d64">  <td>18/01/11 18:31:40</td>   <td>-635757</td> <td>&nbsp;</td><td title="&gt;&gt;US_ST_BV.InitiateBrowser()[pri:0, instance:CaseInitiation.US_ST_BV@b97c004]">&gt;&gt;InitiateBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@703504298</td>   <td></td> </tr>
<tr bgcolor="688d64">  <td>18/01/11 18:31:50</td>   <td>-626024</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="US_ST_BV.Initiatecase()[pri:0, instance:CaseInitiation.US_ST_BV@b97c004]">Initiatecase</td> 
  <td>main@703504298</td>   <td></td> </tr>
<tr bgcolor="688d64">  <td>18/01/11 18:44:22</td>   <td>125754</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="US_ST_BV.Parallelaction2()[pri:0, instance:CaseInitiation.US_ST_BV@b97c004]">Parallelaction2</td> 
  <td>main@703504298</td>   <td></td> </tr>
<tr bgcolor="688d64">  <td>18/01/11 18:44:24</td>   <td>127765</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="US_ST_BV.Parallelaction3()[pri:0, instance:CaseInitiation.US_ST_BV@b97c004]">Parallelaction3</td> 
  <td>main@703504298</td>   <td></td> </tr>
<tr bgcolor="688d64">  <td>18/01/11 18:31:46</td>   <td>-630200</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="US_ST_BV.login()[pri:0, instance:CaseInitiation.US_ST_BV@b97c004]">login</td> 
  <td>main@703504298</td>   <td></td> </tr>
<tr bgcolor="688d64">  <td>18/01/11 18:42:19</td>   <td>3183</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="US_ST_BV.manageraction()[pri:0, instance:CaseInitiation.US_ST_BV@b97c004]">manageraction</td> 
  <td>main@703504298</td>   <td></td> </tr>
<tr bgcolor="688d64">  <td>18/01/11 18:42:17</td>   <td>640</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="US_ST_BV.managerlogin()[pri:0, instance:CaseInitiation.US_ST_BV@b97c004]">managerlogin</td> 
  <td>main@703504298</td>   <td></td> </tr>
<tr bgcolor="688d64">  <td>18/01/11 18:44:22</td>   <td>125738</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="US_ST_BV.managerlogout()[pri:0, instance:CaseInitiation.US_ST_BV@b97c004]">managerlogout</td> 
  <td>main@703504298</td>   <td></td> </tr>
<tr bgcolor="688d64">  <td>18/01/11 18:44:22</td>   <td>125744</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="US_ST_BV.screeeninglogin()[pri:0, instance:CaseInitiation.US_ST_BV@b97c004]">screeeninglogin</td> 
  <td>main@703504298</td>   <td></td> </tr>
<tr bgcolor="688d64">  <td>18/01/11 18:44:22</td>   <td>125749</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="US_ST_BV.screeningaction()[pri:0, instance:CaseInitiation.US_ST_BV@b97c004]">screeningaction</td> 
  <td>main@703504298</td>   <td></td> </tr>
</table>
