<h2>Methods that were not run</h2><table>
<tr><td>CaseInitiation.US_ST_BV.Parallelaction</td></tr>
<tr><td>CaseInitiation.US_ST_BV.Parallelaction5</td></tr>
<tr><td>CaseInitiation.US_ST_BV.Parallelaction6</td></tr>
<tr><td>CaseInitiation.US_ST_BV.Parallelaction4</td></tr>
</table>