<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="80b0f6">  <td>18/04/13 13:05:15</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;US_ST_BV.InitiateBrowser()[pri:0, instance:CaseInitiation.US_ST_BV@402f32ff]">&gt;&gt;InitiateBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1379435698</td>   <td></td> </tr>
<tr bgcolor="80b0f6">  <td>18/04/13 13:05:22</td>   <td>6608</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="US_ST_BV.login()[pri:0, instance:CaseInitiation.US_ST_BV@402f32ff]">login</td> 
  <td>main@1379435698</td>   <td></td> </tr>
<tr bgcolor="80b0f6">  <td>18/04/13 13:06:14</td>   <td>59137</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="US_ST_BV.Initiatecase()[pri:0, instance:CaseInitiation.US_ST_BV@402f32ff]">Initiatecase</td> 
  <td>main@1379435698</td>   <td></td> </tr>
<tr bgcolor="80b0f6">  <td>18/04/13 13:07:38</td>   <td>143338</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="US_ST_BV.Beneficiarylogout()[pri:0, instance:CaseInitiation.US_ST_BV@402f32ff]">Beneficiarylogout</td> 
  <td>main@1379435698</td>   <td></td> </tr>
<tr bgcolor="80b0f6">  <td>18/04/13 13:07:44</td>   <td>148820</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="US_ST_BV.managerlogin()[pri:0, instance:CaseInitiation.US_ST_BV@402f32ff]">managerlogin</td> 
  <td>main@1379435698</td>   <td></td> </tr>
<tr bgcolor="80b0f6">  <td>18/04/13 13:07:44</td>   <td>148830</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="US_ST_BV.manageraction()[pri:0, instance:CaseInitiation.US_ST_BV@402f32ff]">manageraction</td> 
  <td>main@1379435698</td>   <td></td> </tr>
<tr bgcolor="80b0f6">  <td>18/04/13 13:07:47</td>   <td>151845</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="US_ST_BV.managerlogout()[pri:0, instance:CaseInitiation.US_ST_BV@402f32ff]">managerlogout</td> 
  <td>main@1379435698</td>   <td></td> </tr>
<tr bgcolor="80b0f6">  <td>18/04/13 13:07:47</td>   <td>152147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="US_ST_BV.screeeninglogin()[pri:0, instance:CaseInitiation.US_ST_BV@402f32ff]">screeeninglogin</td> 
  <td>main@1379435698</td>   <td></td> </tr>
<tr bgcolor="80b0f6">  <td>18/04/13 13:07:47</td>   <td>152160</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="US_ST_BV.screeningaction()[pri:0, instance:CaseInitiation.US_ST_BV@402f32ff]">screeningaction</td> 
  <td>main@1379435698</td>   <td></td> </tr>
<tr bgcolor="80b0f6">  <td>18/04/13 13:07:47</td>   <td>152175</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="US_ST_BV.Parallelaction2()[pri:0, instance:CaseInitiation.US_ST_BV@402f32ff]">Parallelaction2</td> 
  <td>main@1379435698</td>   <td></td> </tr>
<tr bgcolor="80b0f6">  <td>18/04/13 13:07:49</td>   <td>154192</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="US_ST_BV.Parallelaction3()[pri:0, instance:CaseInitiation.US_ST_BV@402f32ff]">Parallelaction3</td> 
  <td>main@1379435698</td>   <td></td> </tr>
</table>
